
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250vh;
    height:100vh;
}

.container{
    display: flex;
    flex-direction: column;  
    background-color: tomato; 
    padding: 5px;
}
.btn{
    height: 55px;
    width: 50px;
    gap: 15px;
    margin: 5px;
    padding: 4px;
    border-radius: 10px;
}
.btn:hover{
    background-color: aqua;
    
}
.btn.operate:hover{
    background-color: blue;
}
.operate{
    border: 1px solid tomato;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen{
    background-color: aliceblue;
    border: 2px solid pink;
    width: 180px;
    border-radius: 3px;
    height: 55px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.passive{
 font-size: 15px;
}
.active{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;

}